body {
  background-color: rgb(214, 225, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: poppins;
  color: rgb(255, 255, 255);
  background-color: #0d94e2;
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.form {
  font-family: poppins;
  background-color: gray;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.form label {
  color: #fff;
}

.form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.form input::placeholder {
  color: #0000004b;
  font-family: poppins;
  border: 3px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}

.form input[type="date"] {
  background: rgba(255, 255, 255, 0.5);
}

.submit input {
  font-family: poppins;
  background-color: #0d94e2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 95%;
}
